[submodule "testapp"]
	path = testapp
	url = https://github.com/ahsang/golang-cicd
	branch = master
[submodule "infrastructure-as-code"]
	path = infrastructure-as-code
	url = https://github.com/ahsang/certmanager-demo
	branch = master